spring:
  datasource:
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
  redis:
    timeout: 2000ms
  rabbitmq:
    listener:
      simple:
        concurrency: 5
        max-concurrency: 10